body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url('../vendor/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url('../vendor/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url('../vendor/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url('../vendor/fonts/Inter-Regular.ttf');
}