@use '../../styles/Typography.module' as typography;
@import '../../styles/Common.module';

.mainBox {
  margin: 160px 0 80px 0;
  padding: 0 36px;
}

.header {
  margin: 0;
  padding: 0;
  @include typography.subtitle;
}

.list {
  margin: 0;
  padding: 36px 0;
  list-style: none;
}

.listItem {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E0E0E0;

  &:first-child {
    border-top: 1px solid #E0E0E0;
  }
}

.link {
  margin: 36px 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: black;

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  &:hover {
    color: #7543DD;
  }

  &:hover .logoBox::after {
    content: url("../../../public/images/bigRightArrow.svg");
    width: 36px;
    height: 40px;
    margin-left: 22px;
    opacity: 1;
    transform: translateX(4px);
  }
}

.productName {
  margin: 0;
  padding: 0;
  @include typography.subsectionHeaderSemibold;
}

.logoBox {
  &::after {
    content: url("../../../public/images/bigRightArrow.svg");
    width: 36px;
    height: 40px;
    margin-left: 22px;
    position: absolute;
    opacity: 0;
    transform: translateX(0px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}

.logo {
  width: 28px;
  height: 28px;
}


@media screen and (max-width: 900px) {
  .productName {
    @include typography.subsectionHeaderMobileSemibold;
  }

  .logoBox::after {
    display: none;
  }
}


@media screen and (max-width: 500px) {
  .productName {
    @include typography.subtitleSemibold;
  }

}
