@use '../../styles/Typography.module' as typography;
@import '../../styles/Common.module';
@import '../../styles/UIKit.module';

.productContent {
  margin: 0;
  padding: 64px 0;
  box-sizing: border-box;
  min-height: min(50vw, 640px); // product description block should have the same height as the animation block
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productNameBox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.productIcon {
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
}

.productName {
  margin: 0;
  padding: 0;
  @include typography.subtitleSemibold;
}

.title {
  margin: 0;
  padding: 0;
  @include typography.subsectionHeader;
}

.productDescription {
  margin: 0;
  padding: 0;
  @include typography.subtitle;
}

.process {
  position: relative;
  padding-left: 25px;
  margin: 8px 0 0 0;
}

.process::before {
  content: url("../../../public/images/purpleDot.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}


@media screen and (max-width: 1100px) {
  .productContent {
    padding: 50px 0;
  }

  .title {
    @include typography.subsectionHeaderMobile;
  }

  .productIcon {
    height: 36px;
    width: 36px;
  }
}

@media screen and (max-width: 900px) {
  .productContent {
    padding: 32px 0;
  }
}

@media screen and (max-width: 700px) {
  .productContent {
    padding: 50px 0;
  }

  .header {
    gap: 20px;
  }

}

@media screen and (max-width: 500px) {
  .button {
    width: 100%;
  }
}
